<p>
  <ngb-alert #notFoundAlert *ngIf="!notFoundAlertClosed" type="danger" (closed)="notFoundAlertClosed = true">
    <strong>ERROR:</strong> No se han encontrado notas para el estudiante con DNI '{{ dni }}' y apellido '{{ apellido }}'.
  </ngb-alert>
</p>
<div><img src="../junta.png"></div>
<div class="container">
  <div class="row">
    <h2>Elige una opción</h2>
    <ul ngbNav id="nav" #nav="ngbNav" [(activeId)]="activeNav" class="nav-tabs">
      <li id="navItemOne" [ngbNavItem]="1">
        <button id="navOne" ngbNavLink>Consultar exámenes corregidos y pendientes</button>
        <ng-template ngbNavContent>
          <app-detalle-correccion (modifiedCorrecion)="actualizaComponentes()"></app-detalle-correccion>
        </ng-template>
      </li>
      <li id="navItemTwo" [ngbNavItem]="2">
        <button id="navTwo" ngbNavLink (click)="restartNotificacion()">Notificar notas a estudiantes</button>
        <ng-template ngbNavContent>
          <app-formulario-notificacion #formNoti (sendNotificacion)="sendNotificacion()"></app-formulario-notificacion>
        </ng-template>
      </li>
      <li id="navItemThree" [ngbNavItem]="3">
        <button id="navThree" ngbNavLink (click)="notas = []">Ver calificaciones de un estudiante</button>
        <ng-template ngbNavContent>
          <app-formulario-notas #formNotas (getNotas)="getNotas()"></app-formulario-notas>
        </ng-template>
      </li>
    </ul>
    <div class="row" *ngIf="activeNav == 1">
      <div [ngbNavOutlet]="nav" class="col-md-6"></div>
    </div>
    <div class="row" *ngIf="activeNav == 2">
      <div [ngbNavOutlet]="nav" class="col-md-6"></div>
      <div *ngIf="notificacion" class="col-md-6">
        <h2>Última notificación enviada</h2>
        <div class="row">
          <div class="col-md-6">
            Asunto:
          </div>
          <div class="col-md-6">
            {{ notificacion.plantillaAsunto.length <= 20 ? notificacion.plantillaAsunto : notificacion.plantillaAsunto.slice(0, 21) + '...'}}
          </div>
          <div class="col-md-6">
            Cuerpo:
          </div>
          <div class="col-md-6">
            {{ notificacion.plantillaCuerpo.length <= 20 ? notificacion.plantillaCuerpo : notificacion.plantillaCuerpo.slice(0, 21) + '...' }}
          </div>
          <div class="col-md-6">
            Fecha de envío:
          </div>
          <div class="col-md-6">
            {{ formularioNotificacion?.getDate(notificacion.programacionEnvio) }}
          </div>
          <div class="col-md-6">
            Medios:
          </div>
          <div class="col-md-6">
            {{ notificacion.medios.join(", ") }}
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="activeNav == 3">
      <div [ngbNavOutlet]="nav" class="col-md-6"></div>
      <div class="col-md-6">
        <app-detalle-notas [notas]="notas"></app-detalle-notas>
      </div>
    </div>
  </div>
</div>
