.nav-tabs .nav-item .nav-link {
  background-color: rgb(209, 231, 221);
  color: rgb(15, 81, 50);
}

.nav-tabs .nav-item .nav-link.active {
  color: #FFF;
  background-color: rgb(15, 81, 50);
}

.tab-content {
  border-top: transparent;
  padding: 15px;
}

.tab-content .tab-pane {
  background-color: #FFF;
  color: #0080FF;
  min-height: 200px;
  height: auto;
}
