<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Buscar notas</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
      <label for="dni">DNI:</label>
      <input class="form-control" id="dni" [(ngModel)]="estudiante.dni" placeholder="DNI">
      <label for="apellido">Apellido:</label>
      <input class="form-control" id="apellido" [(ngModel)]="estudiante.apellido" placeholder="Apellido">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="buscarNotas()">Obtener notas</button>
</div>
