<div *ngIf="corregidos?.length || pendientes?.length" class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Lista de correciones</h2>
    </div>
    <div *ngIf="examenElegido != null" class="col-md-6">
      <h2>Examen ID {{ examenElegido.id }}</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div ngbAccordion>
      <div ngbAccordionItem *ngIf="corregidos?.length" [collapsed]="true">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            Corregidos
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="list-group">
                <button *ngFor="let examen of corregidos"
                  class="list-group-item list-group-item-action"
                  (click)="examenElegido = examen"
                  [class.active]="examenElegido === examen">Examen ID {{ examen.id }}</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem *ngIf="pendientes?.length" [collapsed]="true">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            Pendientes
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="list-group">
                <button *ngFor="let examen of pendientes"
                  class="list-group-item list-group-item-action"
                  (click)="examenElegido = examen"
                  [class.active]="examenElegido === examen">Examen ID {{ examen.id }}</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="examenElegido != null" class="col-md-6">
    <div class="row">
      <label class="col-md-3" for="materia">
        ID de materia:
      </label>
      <span class="col-md-9 offset-2 offset-md-0">
        {{ examenElegido.materia }}
      </span>
    </div>
    <div class="row">
      <label class="col-md-3" for="codigoAlumno">
        ID de alumno:
      </label>
      <span class="col-md-9 offset-2 offset-md-0">
        {{ examenElegido.codigoAlumno }}
      </span>
    </div>
    <div class="row">
      <label class="col-md-3" for="nota">
        Nota:
      </label>
      <span class="col-md-9 offset-2 offset-md-0">
        {{ examenElegido.nota || 'no corregido' }}
      </span>
    </div>
  </div>
</div>

