<div *ngIf="corregidos?.length || pendientes?.length" class="container">
  <div class="row">
    <h2>Lista de correciones</h2>
  </div>
</div>
<div ngbAccordion>
  <div ngbAccordionItem *ngIf="corregidos?.length" [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        Corregidos
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div ngbAccordion *ngFor="let examen of corregidos">
            <div ngbAccordionItem [collapsed]="true">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  Examen ID {{ examen.id }}
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <div class="row">
                      <label class="col-md-3" for="materia">Materia:</label>
                      <span class="col-md-9 offset-2 offset-md-0">{{ examen.materia }}</span>
                    </div>
                    <div class="row">
                      <label class="col-md-3" for="codigoAlumno">ID Alumno:</label>
                      <span class="col-md-9 offset-2 offset-md-0">{{ examen.codigoAlumno }}</span>
                    </div>
                    <div class="row">
                      <label class="col-md-3" for="nota">Calificación:</label>
                      <span class="col-md-9 offset-2 offset-md-0">{{ examen.nota == null ? ' no corregido' : examen.nota }}</span>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem *ngIf="pendientes?.length" [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        Pendientes
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div ngbAccordion *ngFor="let examen of pendientes">
            <div ngbAccordionItem [collapsed]="true">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  Examen ID {{ examen.id }}
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <div class="row">
                      <label class="col-md-3" for="materia">Materia:</label>
                      <span class="col-md-9 offset-2 offset-md-0">{{ examen.materia }}</span>
                    </div>
                    <div class="row">
                      <label class="col-md-3" for="codigoAlumno">ID Alumno:</label>
                      <span class="col-md-9 offset-2 offset-md-0">{{ examen.codigoAlumno }}</span>
                    </div>
                    <div class="row">
                      <label class="col-md-3" for="nota">Calificación:</label>
                      <span class="col-md-9 offset-2 offset-md-0">{{ examen.nota == null ? ' no corregido' : examen.nota }}</span>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

