<div *ngIf="corregidos?.length || pendientes?.length" class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Lista de correciones</h2>
    </div>
    <div *ngIf="examenElegido != null" class="col-md-6">
      <h2>Examen ID {{ examenElegido.id }}</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div ngbAccordion>
      <div ngbAccordionItem *ngIf="corregidos?.length" [collapsed]="true">
        <h2 ngbAccordionHeader>
          <button (click)="sort()" ngbAccordionButton>
            Corregidos
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="list-group">
                <button *ngFor="let examen of corregidos"
                  class="list-group-item list-group-item-action list-group-item-success"
                  (click)="examenElegido = examen"
                  [class.active]="examenElegido === examen">Examen ID {{ examen.id }}</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem *ngIf="pendientes?.length" [collapsed]="true">
        <h2 ngbAccordionHeader>
          <button (click)="sort()" ngbAccordionButton>
            Pendientes
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="list-group">
                <button *ngFor="let examen of pendientes"
                  class="list-group-item list-group-item-action list-group-item-success"
                  (click)="examenElegido = examen; modificandoNota = false"
                  [class.active]="examenElegido === examen">Examen ID {{ examen.id }}</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="examenElegido != null" class="col-md-6">
    <div class="row">
      <label class="col-md-6" for="materia">
        ID de materia:
      </label>
      <span class="col-md-6">
        {{ examenElegido.materia }}
      </span>
    </div>
    <div class="row">
      <label class="col-md-6" for="codigoAlumno">
        ID de alumno:
      </label>
      <span class="col-md-6">
        {{ examenElegido.codigoAlumno }}
      </span>
    </div>
    <div class="row">
      <label class="col-md-6" for="nota">
        Nota:
      </label>
      <span [hidden]="modificandoNota" class="col-md-6">
        {{ examenElegido.nota == null ? 'no corregido' : examenElegido.nota }}
      </span>
      <input [hidden]="!modificandoNota" type="text" class="nota-input form-control" [(ngModel)]="examenElegido.nota" placeholder="Nota">
    </div>
    <div class="row">
        <button id="modify" class="btn btn-success bi bi-pencil" (click)="modificarNota()"> Modificar nota</button>
    </div>
  </div>
</div>

