.form-control {
  width: 200px;
}

input[type=checkbox]:checked {
  background-color: rgb(15, 81, 50) !important;
  color: #ffffff !important;
}

::ng-deep span.chevron.ngb-tp-chevron::before {
  color: rgb(15, 81, 50);
}

::ng-deep span.ngb-dp-navigation-chevron {
  color: rgb(15, 81, 50);
}

::ng-deep div.ngb-dp-weekday.small {
  color: rgb(15, 81, 50);
}
