<div class="form-group row">
  <div class="col-md-6">
    <label for="plantillaAsunto">Asunto:</label>
    <textarea class="form-control" id="plantillaAsunto" [(ngModel)]="notificacion.plantillaAsunto" [maxLength]="maxLengthAsunto" placeholder="Escriba el asunto de la notificación..."></textarea>
    <label>Caracteres: {{ notificacion.plantillaAsunto.length }}/{{ maxLengthAsunto }}</label><br>
    <label *ngIf="notificacion.plantillaAsunto == ''" style="color: red">Escribe al menos un caracter</label><br>
    <label for="plantillaCuerpo">Cuerpo:</label>
    <textarea class="form-control" id="plantillaCuerpo" [(ngModel)]="notificacion.plantillaCuerpo" [maxLength]="maxLengthCuerpo" placeholder="Escriba el cuerpo de la notificación..."></textarea>
    <label>Caracteres: {{ notificacion.plantillaCuerpo.length }}/{{ maxLengthCuerpo }} </label><br>
    <label *ngIf="notificacion.plantillaCuerpo == ''" style="color: red">Escribe al menos un caracter</label>
  </div>
  <div class="col-md-6">
    <label for="fecha">Fecha de envío:</label><br>
    <div class="input-group">
      <input class="form-control" placeholder="dd/mm/yyyy" name="d1" [maxDate]="{day: today.day, month: today.month, year: today.year + 10}" [minDate]="today" (ngModelChange)="checkHora()" [(ngModel)]="fechaString" ngbDatepicker #d1="ngbDatepicker">
      <button class="btn btn-outline-success bi bi-calendar3" (click)="d1.toggle()" type="button"></button>
    </div>
    <label *ngIf="fechaString === undefined" style="color: red">Selecciona una fecha</label>
    <ngb-timepicker [(ngModel)]="hora" [seconds]="true" [meridian]="false" (ngModelChange)="checkHora()"></ngb-timepicker>
    <label>Medios:</label><br>
    <div class="form-check form-check-inline">
      <input type="checkbox" [(ngModel)]="smsChecked" (change)="changeMedios(smsChecked, 'SMS')" class="form-check-input" id="medioSMS">
      <label class="form-check-label" for="medioSMS">SMS</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" [(ngModel)]="emailChecked" (change)="changeMedios(emailChecked, 'EMAIL')" class="form-check-input" id="medioEMAIL">
      <label class="form-check-label" for="medioEMAIL">EMAIL</label>
    </div>
    <label *ngIf="notificacion.medios.length == 0" style="color: red">Selecciona al menos un medio</label>
  </div>
</div><hr>
<div class="row">
  <button [disabled]="!checkForm()" type="button" class="btn btn-success bi-send" (click)="sendNotificacion.emit()"></button>
</div>
