<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} corrector</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <label for="iduser">Id. Usuario:</label>
        <input class="form-control" id="iduser" [(ngModel)]="corrector.identificadorUsuario" placeholder="Identificar de Usuario">
        <label for="telefono">Teléfono:</label>
        <input class="form-control" id="telefono" [(ngModel)]="corrector.telefono" placeholder="(34) 123456789">
        <label for="maxcorr">Máx. Correcciones:</label>
        <input class="form-control" id="maxcorr" [(ngModel)]="corrector.maximasCorrecciones" placeholder="Máximos exámenes a corregir">
        <!-- <div class="form-check form-switch"> -->
          <!-- <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Introducir Nueva Convocatoria</label> -->
        <!-- </div> -->
        <label for="idconvoc">Id. Convocatoria:</label>
        <input class="form-control" id="idconvoc" [(ngModel)]="corrector.identificadorConvocatoria" placeholder="Identificador de Convocatoria">
        <label for="materia">Materia:</label>
        <input class="form-control" id="materia" [(ngModel)]="corrector.materia" placeholder="Id o nombre de nueva materia">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarCorrector()">Guardar</button>
  </div>
  