<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} corrector</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="correctForm">
      <div class="form-field">
        <label for="iduser">Id. Usuario:</label>
        <input type="text" class="form-control" formControlName="identificadorUsuario" placeholder="Identificador de Usuario">
      </div>
      
      <div class="form-field">
        <label for="telefono">Teléfono: (opcional)</label>
        <input type="text" class="form-control" formControlName="telefono" placeholder="(34) 123456789">
      </div>
      
      <div class="form-field">
        <label for="maximasCorrecciones">Máx. Correcciones:</label>
        <input type="text" class="form-control" formControlName="maximasCorrecciones" placeholder="Máximos exámenes a corregir">
      </div>

      <div *ngIf="accion === 'Editar'" class="form-field form-check form-switch">
        <input class="form-check-input" formControlName="flexSwitchCheckDefault" type="checkbox" [checked]="introducir" id="flexSwitchCheckDefault" [(ngModel)]="introducir">
        <label class="form-check-label" for="flexSwitchCheckDefault">Introducir Nueva Convocatoria</label>
      </div>
      <div class="form-field">
        <label *ngIf="introducir || accion === 'Añadir'" for="idconvoc">Id. Convocatoria:</label>
        <input *ngIf="introducir || accion === 'Añadir'" class="form-control" formControlName="identificadorConvocatoria" id="idconvoc" placeholder="Identificador de Convocatoria">
      </div>
      <div class="form-field">
        <label *ngIf="introducir || accion === 'Añadir'" for="materia">Materia:</label>
        <input *ngIf="introducir || accion === 'Añadir'" class="form-control" formControlName="materia" id="materia" placeholder="Id o nombre de la materia">
      </div>
    </form>
  <div class="modal-footer">
    <button title="Mensaje" data-tooltip="submit" class="btn btn-outline-dark" [disabled]="!correctForm.valid" (click)="guardarCorrector()">Guardar</button>
  </div>
  